@import '../../styles/shared-styles.scss';

.container {
    color: rgb(0, 0, 0);
}
.intro-section {
    padding: 20px;
    text-align: center;
}
.form-control {
    border: 1px solid rgb(29, 33, 54);
}

.form-control:focus {
    border-color: rgb(31, 31, 31);
}
.form-label {
    color: rgb(35, 35, 35);
}