.footer-description {
    color: rgb(173, 178, 203);
}

.footer{
    background-color: #a7b45e;
    font-family: Arial, sans-serif;
}

.footer-description p{
    color: #333; 
    font-weight: bold; /* Đảm bảo chữ trong các thẻ <p> cũng in đậm */
}