footer {
    background-color: #b1b1b1; /* Màu nền tối */
    color: #fff; /* Màu chữ sáng */
}

.footer-description p {
    margin: 5px 0; /* Khoảng cách giữa các dòng text */
}

.footer-description {
    font-size: 14px;
}



