<footer>
    <!-- Footer content goes here -->
     
    <div class="footer">
        <div class="container-fluid">
            <div class="row footer-description text-center">
                    <p>Kĩ thuật viên: Trần Nhật Anh</p>
                    <p>Địa chỉ: Số 11, Ngõ 4, Hà Trì 2, Hà Cầu, Hà Đông, Hà Nội</p>
                    <p>Hotline: 0385777620</p>
                    <p>E-mail: info.benhvienlaptop.com</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer-description">
                <div class="col-md-6">
                    <p>&copy; 2024 Nhat Anh Lap Top. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end">Terms of Service | Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</footer>
