<app-header></app-header>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" alt="Logo" width="100%" height="!00%">
              </a>

        </div>
        <div class="col-md-6">
            <div class="login-form mx-auto">
                <h2 class="login-header text-center">Đăng nhập</h2>
                <div class="form-group">
                    <input type="text" class="form-control" 
                        [(ngModel)]="phoneNumber"
                        (input)="onPhoneNumberChange()"
                        name="phone"
                        (focus)="loginForm.form.markAsTouched()"
                        id="phoneNumber" placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group password-field">
                    <input type="password" 
                        [(ngModel)]="password"                            
                        name="password"
                        placeholder="Mật khẩu" 
                        class="form-control" 
                        id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <input type="checkbox" 
                            class="form-check-input" 
                            id="remember" 
                            [(ngModel)]="rememberMe">
                        <label class="form-check-label" for="remember">
                            Ghi nhớ đăng nhập
                        </label>
                        <a href="#" class="register-link">Quên mật khẩu?</a>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <select class="form-control access-right"
                        [(ngModel)]="selectedRole">
                        <option selected disabled>Chọn quyền đăng nhập</option>
                        <option *ngFor="let role of roles" [ngValue]="role">
                            {{ role.name }}
                        </option>
                    </select>
                </div> -->
                <button 
                    type="button" 
                    (click)="login()"
                    class="login-button btn btn-primary btn-block">
                    Đăng nhập
                </button>
                <div class="divider"></div>
                <p class="text-center">Bạn chưa có tài khoản? 
                    <a class="register-link" (click)="createAccount()">Tạo tài khoản</a>
                </p>
            </div>   
        </div>
    </div>
</div>
